services:
  tables:
    container_name: tables
    image: public.ecr.aws/openops/openops-tables:0.1.6
    environment:
      BASEROW_PUBLIC_URL: ${OPS_OPENOPS_TABLES_PUBLIC_URL}
      BASEROW_PRIVATE_URL: http://localhost:3001
      BASEROW_EXTRA_ALLOWED_HOSTS: '*'
      SECRET_KEY: ${OPS_ENCRYPTION_KEY}
      BASEROW_JWT_SIGNING_KEY: ${OPS_JWT_SECRET}
      BASEROW_REFRESH_TOKEN_LIFETIME_HOURS: ${OPS_JWT_TOKEN_LIFETIME_HOURS}
      BASEROW_ACCESS_TOKEN_LIFETIME_MINUTES: ${OPS_TABLES_TOKEN_LIFETIME_MINUTES}
      SYNC_TEMPLATES_ON_STARTUP: 'false'
      MIGRATE_ON_STARTUP: 'true'
      DISABLE_VOLUME_CHECK: 'yes'
      DATABASE_NAME: ${OPS_OPENOPS_TABLES_DATABASE_NAME}
      DATABASE_HOST: ${OPS_OPENOPS_TABLES_DB_HOST}
      DATABASE_PORT: 5432
      DATABASE_USER: ${OPS_POSTGRES_USERNAME}
      DATABASE_PASSWORD: ${OPS_POSTGRES_PASSWORD}
      REDIS_URL: redis://redis:6379/0
      EDITOR_URL: ${OPS_FRONTEND_URL}/sign-in
    ports: ['3001:80']
    volumes:
      - 'openops_tables_data:/baserow/data'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          '/baserow/backend/docker/docker-entrypoint.sh backend-healthcheck',
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
  postgres:
    image: 'postgres:14.4'
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${OPS_POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${OPS_POSTGRES_PASSWORD}
      POSTGRES_DB: ${OPS_POSTGRES_DATABASE}
    ports: ['5432:5432']
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./tools/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:ro
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${OPS_POSTGRES_USERNAME}']
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: 'redis:7.4.0'
    container_name: redis
    ports: ['6379:6379']
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - 'redis_data:/data'
  analytics:
    container_name: analytics
    image: public.ecr.aws/openops/openops-analytics:0.12.15
    platform: linux/amd64 # Needed for M1 Macs until we have cross-platform CI builds(linux/adm64 and linux/arm64 images)
    ports: ['8088:8088']
    environment:
      DATABASE_DIALECT: 'postgresql'
      DATABASE_HOST: 'postgres'
      DATABASE_PORT: '5432'
      GUNICORN_LOGLEVEL: 'debug'
      DATABASE_DB: 'analytics'
      DATABASE_USER: ${OPS_POSTGRES_USERNAME}
      DATABASE_PASSWORD: ${OPS_POSTGRES_PASSWORD}
      DATABASE_HOST_ALT: ${OPS_OPENOPS_TABLES_DB_HOST}
      SUPERSET_SECRET_KEY: ${OPS_ENCRYPTION_KEY}
      SUPERSET_FEATURE_ALLOW_ADHOC_SUBQUERY: '${ANALYTICS_ALLOW_ADHOC_SUBQUERY}'
    depends_on:
      postgres:
        condition: service_healthy
      tables:
        condition: service_healthy
  localstack:
    container_name: 'localstack'
    image: localstack/localstack
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    environment:
      - LOCALSTACK_AUTH_TOKEN=${LOCALSTACK_AUTH_TOKEN}
      - DEBUG=${DEBUG:-0}
    volumes:
      - 'localstack_data:/var/lib/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'
volumes:
  openops_tables_data:
  postgres_data:
  redis_data:
  localstack_data:
